<div class="prompt-container unselectable">
  <span class="prompt-item">I want a list of </span>
  <ion-input class="prompt-item" [(ngModel)]="searchInput1" (keypress)="keyPress($event.keyCode)"></ion-input>
  <span class="prompt-item">sorted by </span>
  <ion-input class="prompt-item" [(ngModel)]="searchInput2" (keypress)="keyPress($event.keyCode)"></ion-input>
</div>

<ion-button (click)="search()" shape="round" size="small" class="gradient-button">
  Generate
</ion-button>

<div *ngIf="isLoading" class="spinner-container">
  <ion-spinner name="dots" color="medium"></ion-spinner>
</div>
