<ion-searchbar
placeholder="search..."
style="max-width: 800px; margin: 0 auto;"
[(ngModel)]="searchInput"
(ionClear)="clearSearch()"
(ionChange)="search()"
debounce="500">
</ion-searchbar>

<div *ngIf="isLoading">
  <ion-spinner name="crescent" color="medium"></ion-spinner>
</div>

<ion-grid>
	<ion-row>
		<ion-col size="4" *ngFor="let image of images">
          <img
            [src]="image"
            [alt]="image"
            (click)="onClick.emit(item.slug)"
            tappable
            class="fade-in">
		</ion-col>
	</ion-row>
</ion-grid>