<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navCtrl.back()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ projectsService.js[id].name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()">
        <ion-icon slot="icon-only" name="refresh-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense" no-border>
    <ion-toolbar>
      <ion-title size="large">{{ projectsService.js[id].name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="isRefreshing" class="ion-text-center">
    <div style="height: 100px"></div>
    <ion-spinner></ion-spinner>
    <div style="height: 100px"></div>
  </div>

  <iframe *ngIf="!isRefreshing && id=='Space'" class="space-iframe" src="assets/js/Space/index.html" frameBorder="0"></iframe>
  <iframe *ngIf="!isRefreshing && id=='SmartSearchers'" class="js-iframe" src="assets/js/SmartSearchers/index.html" frameBorder="0"></iframe>
  <iframe *ngIf="!isRefreshing && id=='AnimatedText'" class="js-iframe" src="assets/js/AnimatedText/index.html" frameBorder="0"></iframe>
  <iframe *ngIf="!isRefreshing && id=='Plinko'" class="js-iframe" src="assets/js/Plinko/index.html" frameBorder="0"></iframe>
  <iframe *ngIf="!isRefreshing && id=='SmartRockets'" class="js-iframe" src="assets/js/SmartRockets/index.html" frameBorder="0"></iframe>
  <iframe *ngIf="!isRefreshing && id=='BasketBall'" class="bb-iframe" src="assets/js/BasketBall/index.html" frameBorder="0"></iframe>
  <iframe *ngIf="!isRefreshing && id=='Minesweeper'" class="js-iframe" src="assets/js/Minesweeper/index.html" frameBorder="0"></iframe>
  <iframe *ngIf="!isRefreshing && id=='Spiral'" class="space-iframe" src="assets/js/Spiral/index.html" frameBorder="0"></iframe>
  <iframe *ngIf="!isRefreshing && id=='Colonizer'" class="js-iframe" src="assets/js/Colonizer/index.html" frameBorder="0"></iframe>
  <iframe *ngIf="!isRefreshing && id=='DoublePendulum'" class="js-iframe" src="assets/js/DoublePendulum/index.html" frameBorder="0"></iframe>
  <iframe *ngIf="!isRefreshing && id=='FractalTree'" class="js-iframe" src="assets/js/FractalTree/index.html" frameBorder="0"></iframe>

  <p *ngIf="!isRefreshing" class="accent-text"> {{ projectsService.js[id].description }}</p>
  <p class="accent-text monospace">
    <a [href]="src" target="_blank">
    Source&nbsp;Code</a>&nbsp;<ion-icon name="code"></ion-icon>
  </p>

</ion-content>