.error-message {
  position: fixed;
  right: 8px;
  bottom: 8px;
}

.btn-wrapper{
  padding-top: 1em;
  text-align: center;
}

.pw-reset {
  text-align: right;
  margin-top: -1em;
}

ion-item {
  // color: white !important;
  // color: var(--ion-color-dark) !important;
  --background: rgba(0,0,0,0) !important;
}

ion-label {
  opacity: 0.5;
}