<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navCtrl.back()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>🛠 Settings</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">🛠 Settings</ion-title>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-chip *ngIf="errorMessage" class="error-message" color="danger">
    {{errorMessage}}
  </ion-chip>

  <br>
  <br>

  <div *ngIf="isLoading" class="ion-text-center">
    <div style="height: 100px"></div>
    <ion-spinner></ion-spinner>
    <div style="height: 100px"></div>
  </div>

  <div *ngIf="!isLoading" class="ion-text-left web-container">
    <br>

    <!-- <div class="item-box">
      <app-image-upload [photo]="this.images.avatarURL" (onDone)="imageSelected($event, 'avatar')" customID="tile-image"></app-image-upload>
      <div class="ion-text-center opacity-half">Avatar</div>

      <form [formGroup]="form">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input 
                  #firstName 
                  formControlName="firstName" 
                  type="text"
                  [class.invalid]="!form.controls.firstName.valid" 
                  (keypress)="eventHandler($event.keyCode)">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input 
                  #lastName 
                  formControlName="lastName" 
                  type="text"
                  [class.invalid]="!form.controls.lastName.valid" 
                  (keypress)="eventHandler($event.keyCode)">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>

      <div class="spacer" style="height:12px;"></div>
    
      
      <div class="btn-wrapper">
        <ion-button 
          (click)="submit()" 
          shape="round" 
          size="small" 
          class="gradient-button">
            Save Profile
        </ion-button>
      </div>

    </div> -->

    <br>
    <br>

    <div class="item-box">
      <br>

      <form [formGroup]="usernameForm">
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input 
                  class="ion-text-left"
                  #username 
                  formControlName="username" 
                  type="text"
                  [class.invalid]="!usernameForm.controls.username.valid" 
                  (keypress)="eventHandler($event.keyCode)">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="stacked">url</ion-label>
                <ion-input [disabled]="true" style="color: grey;">
                  unnoun.com/u/<b>{{usernameForm.controls.username.value}}</b>
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>

      <div class="spacer" style="height:12px;"></div>

      <div class="btn-wrapper">
        <ion-button 
          (click)="updateSubdomain()" 
          shape="round" 
          size="small" 
          class="gradient-button">
            Update
        </ion-button>
      </div>
    </div>


    
    <br>
    <br>

    <app-verify-email [showIfVerified]="isEmailVerified"></app-verify-email>

  </div>
</ion-content>
