<!-- <div *ngIf="!isLoaded">
  <ion-spinner name="crescent" color="medium"></ion-spinner>
</div> -->

<ion-grid *ngIf="!isLoaded" style="padding: 0; padding-top: 20px;">
  <ion-row *ngFor="let i of [].constructor(tableDimensions[0])" style="padding: 0;">
    <ion-col *ngFor="let j of [].constructor(tableDimensions[1])" style="padding: 0; padding-left: 6px;">
      <ion-skeleton-text [animated]="true" style="width: 100%; height: 30px; opacity: 1;"></ion-skeleton-text>
    </ion-col>
  </ion-row>
</ion-grid>