<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navCtrl.back()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ projectsService.projects[id].name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ projectsService.projects[id].name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="web-container ion-padding">
    <br>
    <br>
    <br>
    <div class="ion-text-center">
      <img class="small-img" [src]="projectsService.projects[id].icon" />
      <br>
      <strong class="capitalize">{{ projectsService.projects[id].name }}</strong>
      <br>
      <br>
      <a class="monospace" [href]="projectsService.projects[id].link" target="_blank">Visit {{ projectsService.projects[id].name }}</a>
    </div>
    <br>
    <p class="accent-text">{{ projectsService.projects[id].description }}</p>
  </div>
</ion-content>
