<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>

  <div class="ion-text-left web-container">
    <h1>👋 Hey, I'm Hew.</h1>
    <br>
    <br>
    <p>
      I build stuff sometimes. Take a look around.
    </p>
    <p>
      I'm a technologist, creative, musician, and pretty chill guy.
    </p>
    <p>
      I'm currently the VP of Technology at <a href="https://www.todoolie.com" target="_blank">ToDoolie INC</a> and creator of <a href="https://www.anonacy.com" target="_blank">Anonacy</a>.
    </p>
    <br>
    <br>
    <p class="monospace">
      <a href="mailto:hew@anonacy.com" target="_blank">Email</a>
      &nbsp;|&nbsp;
      <a href="https://www.linkedin.com/in/hewhamilton/" target="_blank">LinkedIn</a>
      &nbsp;|&nbsp;
      <a href="https://github.com/hewham" target="_blank">GitHub</a>
      &nbsp;|&nbsp;
      <a href="https://firebasestorage.googleapis.com/v0/b/hewham-ionic.appspot.com/o/resume_hew.pdf?alt=media&token=fd37f455-3d9a-446e-8161-400ee0955a0d" target="_blank">Résumé</a>
    </p>

  </div>
</ion-content>
