$padding-px: 3px;

.gradient-button {
	--background: linear-gradient(90deg, #ef89ef 0%, #70deeb 100%) !important;
	--background-activated: linear-gradient(90deg, #ef89ef 0%, #70deeb 100%)!important;
	--background-hover: white !important;
	--background-hover-opacity: 0.3 !important;
	// --padding-start: $padding-px;
	// --padding-end: $padding-px;
	// --padding-top: $padding-px;
	// --padding-bottom: $padding-px;
}