<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="web-container">
    <br>
    <br>

    <div class="ion-text-left web-container">
      <h1>
        <span *ngIf="!isSignUp">🎨 Log In</span>
        <span *ngIf="isSignUp">🥁 Sign Up</span>
      </h1>


      <br>
      <br>

      <form *ngIf="!isSignUp" [formGroup]="loginForm">
        <ion-item id="phone-input6">
          <ion-label position="floating">Email</ion-label>
          <ion-input 
            #email 
            formControlName="email" 
            type="email"
            [class.invalid]="!loginForm.controls.email.valid" 
            (keypress)="eventHandler($event.keyCode)">
          </ion-input>
        </ion-item>
      
        <ion-item id="pass-input">
          <ion-label position="floating">Password</ion-label>
          <ion-input 
            #password 
            formControlName="password" 
            [type]="showPassword ? 'text' : 'password'"
            [class.invalid]="!loginForm.controls.password.valid" 
            (keypress)="eventHandler($event.keyCode)">
          </ion-input>
          <ion-icon 
            slot="end" 
            [name]="pwIcon" 
            (click)="toggleShowPassword()"
            style="padding-top: 24px;">
          </ion-icon>
        </ion-item>
      </form>

      <form *ngIf="isSignUp" [formGroup]="signupForm">

        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input 
                  #email 
                  formControlName="email" 
                  type="email"
                  [class.invalid]="!signupForm.controls.email.valid" 
                  (keypress)="eventHandler($event.keyCode)">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input 
                  #password 
                  formControlName="password" 
                  [type]="showPassword ? 'text' : 'password'"
                  [class.invalid]="!signupForm.controls.password.valid" 
                  (keypress)="eventHandler($event.keyCode)">
                </ion-input>
                <ion-icon 
                  slot="end" 
                  [name]="pwIcon" 
                  (click)="toggleShowPassword()"
                  style="padding-top: 24px;">
                </ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input 
                  class="ion-text-left"
                  #username 
                  formControlName="username" 
                  type="text"
                  [class.invalid]="!signupForm.controls.username.valid" 
                  (keypress)="eventHandler($event.keyCode)">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="stacked">url</ion-label>
                <ion-input [disabled]="true" style="color: grey;">
                  unnoun.com/u/<b>{{signupForm.controls.username.value}}</b>
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      </form>
      
      
      <div class="spacer" style="height:12px;"></div>
      
      <ion-label padding color="danger" style="text-align:center;">{{errorMessage}}</ion-label>
      
      <!-- <div class="pw-reset">
        <ion-button (click)="passwordReset()" color="seethrough" style="font-size: 0.7em; color: grey;">
          <span *ngIf="!isSignUp">Forgot Password?</span>
          <span *ngIf="isSignUp">&nbsp;</span>
        </ion-button>
      </div> -->
      
      <div class="btn-wrapper">
        <ion-button (click)="submit()" color="seethrough" class="color-primary">
          <span *ngIf="!isSignUp">Log In</span>
          <span *ngIf="isSignUp">Sign Up</span>
        </ion-button>
      </div>


      <div class="ion-text-center" *ngIf="authService.isReserved">
        <ion-button (click)="toggleIsSignUp()" color="seethrough" style="font-size: 0.7em; color: grey;">
          <span *ngIf="!isSignUp">Don't have an account?&nbsp;<span class="color-primary">Sign up</span>&nbsp;instead -></span>
          <span *ngIf="isSignUp">Already have an account?&nbsp;<span class="color-primary">Log in</span>&nbsp;instead -></span>
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>
