<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <div *ngIf="authService.user">
            <img class="small-img" style="margin-left: 15px;" [src]="authService.user.avatar ? authService.user.avatar : 'assets/imgs/default.png'" />
            <ion-icon 
              *ngIf="authService.isOwner"
              class="settings-position animated fadeIn" 
              (click)="navCtrl.navigateRoot('settings')"
              name="cog-outline"
              tappable>
            </ion-icon>
            <ion-list-header>{{ authService.user.firstName }} {{ authService.user.lastName }}</ion-list-header>
          </div>
          <br>
          <br>
          <!-- <ion-note>hew@anonacy.com</ion-note> -->

            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item *ngIf="!isEditing" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>


            <ion-reorder-group *ngIf="authService.isOwner && isEditing" (ionItemReorder)="doReorder($event)" disabled="false">
              <!-- <ion-item *ngFor="let p of appPages" (click)="edit(p.slug)" button lines="none" detail="false"> -->
              <ion-item *ngFor="let p of appPages">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
                <ion-icon slot="end" *ngIf="isEditing" (click)="edit(p.slug)" name="create-outline" color="primary"></ion-icon>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
          </ion-reorder-group>

          <ion-menu-toggle *ngIf="authService.isOwner && isEditing" auto-hide="false">
            <ion-item (click)="navCtrl.navigateForward('add')" button lines="none" detail="false" tappable class="selected">
              <ion-icon slot="start" name="add-outline" size="small"></ion-icon>
              <ion-label style="font-size: 0.7em;"><span class="monospace"><u>Add Group</u></span></ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle *ngIf="authService.isOwner" auto-hide="false">
            <ion-item (click)="toggleEditing()" button lines="none" detail="false" tappable class="selected">
              <ion-icon *ngIf="!isEditing" slot="start" name="create-outline" size="small"></ion-icon>
              <ion-icon *ngIf="isEditing" slot="start" name="close-outline" size="small"></ion-icon>
              <ion-label style="font-size: 0.7em;"><span class="monospace"><u>
                <span *ngIf="!isEditing">Edit Groups</span>
                <span *ngIf="isEditing">Stop Editing</span>
              </u></span></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <div class="version">

          <ion-menu-toggle *ngIf="authService.uid == environment.PENNA_UID" auto-hide="false">
            <ion-item routerDirection="root" routerLink="start" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="rocket-outline"></ion-icon>
              <ion-label>Get Started</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="about" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>About</ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <p 
            *ngIf="!authService.isLoggedIn && authService.isInitialized && authService.isReserved"
            class="monospace">
              <span class="color-primary" tappable (click)="navCtrl.navigateRoot('login')"><u>Sign up</u></span>&nbsp;|&nbsp;<span class="color-primary" tappable (click)="navCtrl.navigateRoot('login?login=true')"><u>Log in</u></span>
          </p>

          <p 
            *ngIf="authService.isOwner && authService.isInitialized || authService.isLoggedIn && authService.uid == environment.PENNA_UID"
            class="monospace color-primary" 
            tappable 
            (click)="authService.logout()">
            <u>Log out</u>
          </p>

          <p class="accent-text monospace">
            <a href="https://github.com/hewham/hewham-ionic" target="_blank">
            Source&nbsp;Code</a>&nbsp;<ion-icon name="code"></ion-icon>
          </p>
          <p class="accent-text monospace">v{{ version }}</p>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
