<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <img class="small-img" style="margin-left: 15px;" src="https://firebasestorage.googleapis.com/v0/b/hewham-ionic.appspot.com/o/hew_300.jpg?alt=media&token=57ee0222-799b-43ca-b182-04e3ae6eeb43" />
          <ion-list-header>Hew Hamilton</ion-list-header>
          <ion-note>hew@anonacy.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <div class="version">
          <p class="accent-text monospace">
            <a href="https://github.com/hewham/hewham-ionic" target="_blank">
            Source&nbsp;Code</a>&nbsp;<ion-icon name="code"></ion-icon>
          </p>
          <p class="accent-text monospace">v{{ version }}</p>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
