<ion-item *ngIf="!isVerified && !isLoading" lines="none" class="slide-up">
  <ion-label *ngIf="!isSent">You need to verify you own the email: [{{ authService.user.email }}]</ion-label>
  <ion-label *ngIf="isSent">Please check your inbox for an email from us!</ion-label>
  <ion-button class="gradient-button" shape="round" slot="end" (click)="send()">
    <span *ngIf="!isLoading && !isSent">Send Email <ion-icon name="mail-outline"></ion-icon></span>
    <span *ngIf="!isLoading && isSent">Email Sent <ion-icon name="checkmark-circle-outline"></ion-icon></span>
    <span *ngIf="isLoading"><ion-spinner></ion-spinner></span>
  </ion-button>
</ion-item>

<ion-item *ngIf="showIfVerified && isVerified && !isLoading" lines="none" class="slide-up">
  <ion-label>
    Your email [{{ authService.user.email }}] has {{already}}been verified<ion-icon color="success" name="checkmark-circle-outline"></ion-icon>
  </ion-label>
</ion-item>