<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="item">{{ item.name }}</ion-title>
    <ion-buttons slot="end" *ngIf="authService.isOwner">
      <ion-button (click)="edit()">
        <ion-icon slot="icon-only" name="create-outline" color="primary"></ion-icon>
      </ion-button>
      <ion-button (click)="delete()">
        <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <img class="project-logo" [src]="item.logo" /> -->
      <ion-title size="large" *ngIf="item">{{ item.name }}</ion-title>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <span class="monospace" style="font-size: 0.3em; padding-left: 20px;" *ngIf="item"><a [href]="'/p/' + slug">{{ group.name }}</a> > {{ item.name }}</span>


  <div *ngIf="item" class="web-container ion-padding">
    <br>
    <br>
    <br>
    <div class="ion-text-center">
      <img class="small-img" [src]="item.tile" />
      <br>
      <!-- <strong class="capitalize">{{ item.name }}</strong>
      <br> -->
      <br>
      <a *ngIf="item.link" class="monospace" [href]="item.link" target="_blank">Visit {{ item.name }}</a>
      <strong *ngIf="!item.link" class="capitalize">{{ item.name }}</strong>
    </div>
    <br>
    <quill-view-html [content]="item.content"></quill-view-html>
  </div>

  <div *ngIf="item === null" class="web-container ion-padding">
    <br>
    <br>
    <h1>💣 Page not found</h1>
    <br>
    <p>It was probably deleted. Sorry :(</p>
  </div>
</ion-content>
