<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navCtrl.back()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>

  <div *ngIf="isLoading" class="ion-text-center">
    <div style="height: 100px"></div>
    <ion-spinner></ion-spinner>
    <div style="height: 100px"></div>
  </div>

  <div *ngIf="!isLoading" class="ion-text-left web-container">
    <h1 *ngIf="!isEditing">🌱 Add Group</h1>
    <h1 *ngIf="isEditing">✏️ Edit Group</h1>

    <br>
    <br>

    <form [formGroup]="form">

      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row>
          <ion-col size="2" class="ion-no-padding">
            <ion-item tappable (click)="toggleIcons()">
              <ion-label position="stacked">Icon</ion-label>
              <ion-icon name="{{ icon }}-outline" color="primary"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="5" class="ion-no-padding">
            <ion-item>
              <ion-label position="stacked">Name</ion-label>
              <ion-input 
                #name 
                formControlName="name" 
                type="text"
                [class.invalid]="!form.controls.name.valid" 
                (keypress)="eventHandler($event.keyCode)">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="5" class="ion-no-padding">
            <ion-item>
              <ion-label position="stacked">URL Slug</ion-label>
              <ion-input 
                #slug 
                formControlName="slug" 
                type="text"
                [class.invalid]="!form.controls.slug.valid" 
                (keypress)="eventHandler($event.keyCode)">
                <span style="opacity: 0.5;">/p/</span>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    </form>

    <ion-button *ngIf="showIcons" (click)="toggleIcons()" color="seethrough" class="color-primary">
      Close
    </ion-button>
    <app-icon-select *ngIf="showIcons" (onSelect)="selectIcon($event)"></app-icon-select>
    

    <div class="spacer" style="height:12px;"></div>
    
    <ion-label padding color="danger" style="text-align:center;">{{errorMessage}}</ion-label>
    
    <div class="btn-wrapper">
      <ion-button *ngIf="!showIcons && !isEditing" (click)="submit()" color="seethrough" class="color-primary">
        Create
      </ion-button>
      <ion-button *ngIf="!showIcons && isEditing" (click)="submit()" color="seethrough" class="color-primary">
        Save
      </ion-button>
    </div>

  </div>
</ion-content>
