$cell-border-color: #F7F5EE;
$cell-border-width: 3px;
$cell-color: #fcfbf9;
$cell-color-light: #fcfbf9c2;

.table-grid {
  color: #333;
  border-bottom: $cell-border-width solid $cell-border-color;
  border-right: $cell-border-width solid $cell-border-color;
  padding: 0;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.table-grid::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.table-row {
  
}

ion-row {
  min-width: 200px !important;
}

.table-cell {
  background-color: $cell-color;
  border-radius: 4px;
  border: $cell-border-width solid $cell-border-color;
  border-right: none;
  border-bottom: none;
  padding: 6px 10px;
  font-weight: 500;
}

.header {
  font-weight: bold;
}

.table-options-top {
  opacity: 0;
  background-color: $cell-color;
  margin: 3px auto;
  border-radius: 4px;
  height: 16px;
}

.options-icon-top{
  transform: translateY(-5px);
}

.table-options-start {
  opacity: 0;
  background-color: $cell-color;
  margin: 3px auto;
  border-radius: 4px;
  min-width: 16px;
  &:first-of-type {
    flex: 0 0 16px;
  }
}

.table-row-hover {
  border: $cell-border-width solid $cell-border-color;
  border-right: none;
  border-bottom: none;
}

.table-row-hover:hover {
  background-color: $cell-color-light;
  // -webkit-transition: background-color 200ms linear;
  // -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.table-column-hover {
  border: $cell-border-width solid $cell-border-color;
  border-right: none;
  border-bottom: none;
  min-width: 30px;
  &:last-of-type {
    flex: 0 0 30px;
  }
}

.table-img {
  height: 120px;
  border-radius: 10px;
}

.deleting-button {
  background-color: var(--ion-color-danger);
  color: white !important;
  transition: background-color 200ms linear;
}

.options-icon {
  margin-left: -5px;
  margin-top: 3px;
}

.hover-appear {
  opacity: 0;
}

.hover-appear:hover {
  opacity: 1;
  transition: opacity 200ms linear;
}

.table-input {
  --padding-top: 0;
  --padding-bottom: 0;
}

.add-button {
  padding: 0;
  height: 20px;
  --padding-start: 0;
  --padding-top: 0;
}
