<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
  <br>

  <div *ngIf="!authService.isLoggedIn && authService.isReserved" class="ion-text-left web-container">
    <h1>🚀 Get Started</h1>
    <br>
    <br>
    <p>
      Sign up to create your free site.
    </p>
    <p>
      You'll get a free domain like -> <span class="monospace">you.unnoun.com</span>
      <!-- , to use your own domain is pretty cheap. -->
    </p>
    <p>
      You can also use your own domain.
    </p>
    <p>
      Here's a <a class="monospace" href="https://hew.unnoun.com" target="_blank">demo</a>.
    </p>
    <br>
    <br>
    <p class="monospace">
      <a href="/login" target="_self">Sign up</a>
      &nbsp;|&nbsp;
      <a href="/login?login=true" target="_self">Log in</a>
    </p>
  </div>

  <div *ngIf="!authService.isLoggedIn && !authService.isReserved" class="ion-text-left web-container">
    <h1>🚀 Get Started</h1>
    <br>
    <br>
    <p>
      If this is your site, you can -> <a class="monospace" href="/login?login=true" target="_self">Log in</a>
    </p>
    <!-- <p class="monospace">
      <a href="/login?login=true" target="_self">Log in</a>
    </p> -->
    <p>
      If it isn't, you can create your own for free at -> <a class="monospace" href="https://unnoun.com" target="_blank">unnoun.com</a>
    </p>
  </div>

  <div *ngIf="authService.isLoggedIn" class="ion-text-left web-container">
    <h1>🚀 Get Started</h1>
    <br>
    <br>
    <div *ngIf="authService.isOwner">
      <p>
        Start by clicking <span class="monospace">Edit Groups</span> in the left sidebar and adding a <span class="monospace">Group</span>.
      </p>
      <p>
        <span class="monospace">Groups</span> can be protfolios, galleries, collections, showcases, or anything else.
      </p>
    </div>
    <div *ngIf="!authService.isOwner">
      <p>
        This isn't your site!
      </p>
      <strong>
        Navigate to your site -> <a class="monospace" *ngIf="authService.authUser" [href]="'https://' + authService.authUser.subdomain + '.unnoun.com/start'">{{ authService.authUser.subdomain}}.unnoun.com</a>
      </strong>
      <p>p.s. you may need to log in again</p>
    </div>
  </div>
</ion-content>
